header {
  padding: 200px 0 0;
  text-align: center;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.score-card {
  list-style-type: none;
}

.leaderboard {
  border: 3px solid black;
  border-radius: 10px;
  overflow: hidden;
}